.main {
  background-color: #01172f;
  .mask,
  .body {
    color: white;
    font-size: 64px;
    line-height: 66px;
    cursor: default;
  }

  .mask {
    mask-image: url('/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: red;
    position: absolute;
    color: #ed6d23;
  }
  .text-white:hover {
    color: red !important;
  }
}

// B07437 orange and F7C64F yellow
