.main {
  background-color: #01172F;
  .mask,
  .body {
    color: #F7C64F;
    font-size: 64px;
    line-height: 66px;
    cursor: default;
  }

  .mask {
    mask-image: url('../../../public/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #F7C64F;
    position: absolute;
    color: #B07437;
  }
  .text-white:hover {
    color: red !important;
  }
}
