.body {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh auto;
}

.body p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0;
  margin-right: 1.2vw;
  font-weight: 700;
  color: rgb(211, 211, 211);
}

.body span {
  opacity: 0.2;
  transition: opacity 0.3s ease-out;
}

.highlightWord {
  color: #f1be3d !important;
  font-weight: 600;
}

.logoWrapper {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.synelixisLogo {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: inline-block;
}
.specialRedWord {
  color: #eb0028 !important;
  font-weight: 700;
}
