.container {
  width: 80%;
  margin: 4rem auto;
  color: #fff;
  font-size: 1.2rem;
}

.textWrapper {
  margin-bottom: 2rem;
  word-break: break-word;
}

.highlightWord {
  color: #f1be3d;
}

.specialRedWord {
  color: #eb0028;
  font-weight: 700;
}

.textWrapper h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.textWrapper p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.locationInfo {
  margin-top: 1.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
}

.imageWrapper,
.mapWrapper {
  flex: 1;
  position: relative;
  height: 450px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mapWrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    height: auto;
  }
  .imageWrapper,
  .mapWrapper {
    height: auto;
  }
  .imageWrapper img,
  .mapWrapper iframe {
    height: auto;
  }
}

.locationInfo p {
  margin: 0.25rem 0;
  font-size: 1.2rem;
}
